{{!< ../default}}

<header class="site-header">
    {{> site-header}}
</header>
<main id="site-main" class="site-main site-signin outer">
    <div class="inner">

    {{#if @member}}

        {{!-- Logged in: Redirect home --}}
        <script>window.location = '{{@site.url}}';</script>

    {{else}}

        {{!-- Not logged in: Signin form --}}
        <form class="signin-form" data-members-form="signin">
            <h1 class="signin-title">Bem vindo(a) de volta!</h1>
            <p>Faço o login abaixo para ter acesso ao conteúdo completo do blog</p>
            <div class="signin-box">
                <input data-members-email type="email" placeholder="Seu endereço de email aqui" required="true" autocomplete="false" />
                <button class="button primary" type="submit">
                    <span class="button-content">Enviar link para login</span>
                    <span class="button-loader">{{> "icons/loader"}}</span>
                </button>
            </div>
            <p><small>Ainda não é assinante? <a href="{{@site.url}}/signup/">Clique aqui para assinar</a></small></p>
            <div class="message-success"><strong>Ótimo!</strong> Cheque sua caixa de email e clique no link enviado para fazer o login</div>
            <div class="message-error">Por favor, insira um endereço de email válido</div>
        </form>

    {{/if}}

    </div>
</main>
